
header {
  padding: 2rem 1rem;
  text-align: left;
}

.checkings {
  font-size: 1.2rem;
  font-family: Roboto;
}

.savings {
  font-size: 1.2rem;
}

.month_pl {
  color: rgb(12, 192, 12);
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #11131db0;
  display: flex;
  justify-content: space-around;
}

.navbar div {
  padding: 8px;
}

.navbar div:hover {
  background-color: #090a0fe0;
}